body{
    background-image: url("../srcIndex/image/inavers.gif");
    color: lawngreen;
}



div {
    background-color: yellow;
    height: 20px;
    width: 20px;
}

/*Principal display*/
.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-color: red;
    border-style: solid;
}

/*Second Display*/
.previous-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    border-color: red;
    border-style: solid;
}

.previous-figure{
    height: 80px;
    width: 80px;
}


.block{
    background-color: blue;
}

.block2{ /*Color when figure is locked*/
    background-color: purple;
}

.block3{
    background-color: green;
}


.description{
    color: yellow;
}