body{
    background-image: url("../srcIndex/image/inavers.gif");
    color: lawngreen;
}

.grid{
    border: 1px solid purple;
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 180px;
}

.grid div{
    height: 20px;
    width: 20px;
}



.ending-block { /*The last block where the frog must arrive*/
    background-color: red;
}


.starting-block{ /*First block where begin our frog*/
    background-color: blue;
}


.frog{ /*The block where frog begins*/
    background-color: green;
}



/*obstacles*/

.c1 {
    background-color: black;
}

.c2, .c3{
    background-color: gray;
}


.l1, .l2, .l3{
    background-color: brown;
}

.l4, .l5{
    background-color: lightblue;
}









.description{
    color: yellow;
}