/*board style*/
body{
    background-image: url("../srcIndex/image/inavers.gif");
    color: lawngreen;

}
.grid{
    border: 5px solid darkblue;
    display: flex;
    flex-wrap: wrap;
    height: 480px; /*240*/
    width: 560px; /*280*/
    background-color: aquamarine;
}
/*divs inside board style*/
.grid div {
    height: 80px; /*40*/
    width: 80px; /*40*/
}
/*Player 1 style COLOR LIKE FIFA FOOTBALL*/
.player-one {
    background-color: red;
    border-radius: 40px; /*20*/
}
/*Player 2 style*/
.player-two {
    background-color: yellow;
    border-radius: 400px; /*20*/
}

/*Class for desciption*/
.description {
    color: yellow;
}