/*board style*/
body{
    background-image: url("../srcIndex/image/inavers.gif");
    color: lawngreen;
    font-family: "Bauhaus 93", serif;
    width: 100%;

}


/*Style of header*/
header{
    text-align: center;
}


/*Content of the display game*/
/*todo colocar contenido en el centro y poner descripción de los controles*/
#game{
    display: flex;
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;

}

.grid{
    border: 5px solid darkblue;
    display: flex;
    flex-wrap: wrap;
    height: 480px; /*240*/
    width: 560px; /*280*/
    background-color: aquamarine;
}
/*divs inside board style*/
.grid div {
    height: 80px; /*40*/
    width: 80px; /*40*/
}
/*Player 1 style COLOR LIKE FIFA FOOTBALL*/
.player-one {
    background-color: red;
    border-radius: 40px; /*20*/
}
/*Player 2 style*/
.player-two {
    background-color: yellow;
    border-radius: 400px; /*20*/
}

/*Class for desciption*/
.description {
    color: yellow;
}

/*Class for the footer*/
footer{
    width: 100%;
    position: relative; /*fixed ever   absolute*/
    bottom: 0;


    background-color: black;
    color: white;
    text-align: center;

    margin-top: 5%;
    padding-bottom: .4%;
    padding-top: .5%;

}
footer a{
    text-decoration: none;
    color: lawngreen;
}
footer a:hover{
    background-color: yellow;
    color: red;
}
